@model byte

<div class="bd-callout bd-callout-danger">
    <h4>Принудительно запустить резервный комплект</h4>
    <p>
        Устройство поддерживает резервирование. Данная команда подволяет принудительно запустить 
        резервный комплект оборудования. При этом основной будет отключен до перезагрузки.
    </p>
    <hr />
    <a class="btn btn-danger" id="activate-reservation-kit" asp-action="StartReserveKit" 
        asp-route-id="@Model">
        <i class="fa fa-prescription"></i> Переключиться на резервный комплект
    </a>
</div>