﻿@model string

@{
    ViewData["Title"] = "Ошибка!";
}

<h2 class="text-muted text-center">Не удалось получить конфигурацию службы SYNC!</h2>
<h3 class="text-danger text-center">[@Model]</h3>
<hr />
<a asp-action="Index"><h4 class="text-center"><i class="fas fa-redo-alt"></i> Обновить</h4></a>