﻿@model SYNCConfig

@{
    ViewData["Title"] = "Служба SYNC";
}

@section styles {
    <link rel="stylesheet" href="~/css/docs.min.css" />
}

@if (Model != null)
{
    <div class="bd-callout bd-callout-info">
        <h4>@ViewData["Title"]</h4>
        <p>
            Служба преднозначена для генерации переодических пакетов, синхронизирующих TPO обмен в сети.
            Выберите идентификатор сообщения синхронизации (COB-ID), переод отправки синхронизирующих сообщений и период счетчика.
        </p>
        <hr />
        <form class="form-horizontal" id="sync-config" method="post" asp-action="Configure">
            <div class="form-group vertical-align-center">
                <label for="enabled" class="col-sm-3 control-label">Служба SYNC включена</label>
                <!-- https://stackoverflow.com/a/14731571 -->
                <input id="enabled" name="enabled" type="checkbox" value="true" checked="@Model.Enabled" />
                <input name="enabled" type="hidden" value="false" />
            </div>
            <div class="form-group vertical-align-center">
                <label for="cobid" class="col-sm-3 control-label">SYNC COB-ID</label>
                <input id="cobid" name="cobid" type="number" min="0" max="65535" value="@Model.CobID" />
            </div>
            <div class="form-group vertical-align-center">
                <label for="syncperiod" class="col-sm-3 control-label">Период отправки SYNC, мс.</label>
                <input id="syncperiod" name="syncperiod" type="number" min="0" max="65535" value="@Model.SyncPeriod" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-sm-offset-3">
                    <i class="fa fa-check"></i> Применить
                </button>
            </div>
        </form>
    </div>
}
else
{
    <h2 class="text-muted text-center">Адаптер не подключен к сети CANOpen</h2>
    <a asp-controller="Connection" asp-action="Index">
        <h5 class="text-center"><i class="fas fa-plug"></i> Подключиться</h5>
    </a>
}

@section Scripts {
    <script src="~/js/SYNC.js" asp-append-version="true"></script>
}