﻿<div class="bd-callout bd-callout-info">
    <h4>Сконфигурировать устройство</h4>
    <p>
        Поиск и конфигурирование устройства.
        Используется процедура LSS Fast Scan, если иденитификатор устройства неизвестен или неполон
    </p>
    <hr />

    <form class="form-horizontal" id="lss-config-form">
        <div class="container">
            <div class="row form-group">
                <label class="control-label col-md-2">LSS ID:</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <!--<span class="input-group-addon" id="VID-addon">VID</span>-->
                        <input type="text" class="form-control lss-id-part" aria-describedby="VID-addon"
                               title="Уникальный иденитфикатор производителя" placeholder="Найти">
                        <div class="input-group-append form-control-feedback">
                            <span class="input-group-text"><i class="fa fa-question"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <!--<span class="input-group-addon" id="PID-addon">PID</span>-->
                        <input type="text" class="form-control lss-id-part" aria-describedby="PID-addon"
                               title="Иденитфикатор устройства" placeholder="Найти">
                        <div class="input-group-append form-control-feedback">
                            <span class="input-group-text"><i class="fa fa-question"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <!--<span class="input-group-addon" id="PID-addon">R</span>-->
                        <input type="text" class="form-control lss-id-part" aria-describedby="Revision-addon"
                               title="Номер ревизии устройства" placeholder="Найти">
                        <div class="input-group-append form-control-feedback">
                            <span class="input-group-text"><i class="fa fa-question"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <!--<span class="input-group-addon" id="PID-addon">S</span>-->
                        <input type="text" class="form-control lss-id-part" aria-describedby="Serial-addon"
                               title="Серийный номер" placeholder="Найти">
                        <div class="input-group-append form-control-feedback">
                            <span class="input-group-text"><i class="fa fa-question"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="start-fast-scan" class="btn btn-light border-dark" type="button" 
                            title="Найти" onclick="startFastScan()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-md-2">Новый Node ID:</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <!--<span class="input-group-addon" id="NodeID-addon">#</span>-->
                        <input id="node-id-input" type="text" class="form-control" aria-describedby="NodeID-addon" placeholder="Авто">
                        <div class="input-group-append form-control-feedback">
                            <span class="input-group-text"><i class="fa fa-question"></i></span>
                        </div>
                        <!--<span class="fa fa-asterisk form-control-feedback"></span>-->
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-offset-2 col-md-2">
                    <button id="assign-node-id" class="btn btn-primary" disabled="disabled" 
                            type="button" onclick="assignNodeID()">
                        <i class="fa fa-stamp"></i> Назначить
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>