﻿@model IEnumerable<DeviceListItem>

@if (Model.Count() > 0)
{
    <h4 class="mb-3">Устройства, подключенные к сети</h4>
    <div class="card-columns">
        @foreach (var listItem in Model)
        {
            <vc:device-list-item item="@listItem" />
        }
    </div>
}
else
{
    <vc:device-list-empty />
}