﻿@using CANopen2CalibratorGUIAdapter.Models.DeviceCardModels

@model DeviceCardHeaderModel

<div class="card-header bg-transparent border-@Model.MarkClass">
    <div class="d-flex justify-content-between">
        <div>
            <span class="badge badge-pill badge-secondary">@Model.NodeID</span>
            <button class="btn btn-sm btn-link text-@Model.MarkClass pt-0 pb-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.NmtStateString</button>
            <div class="dropdown-menu">
                <button type="button" class="dropdown-item" onclick="NMTTarget(@Model.NodeID, 'start');">
                    <i class="fa fa-play text-success"></i> Запустить
                </button>
                <button type="button" class="dropdown-item" onclick="NMTTarget(@Model.NodeID, 'stop');">
                    <i class="fa fa-stop text-danger"></i> Остановить
                </button>
                <button type="button" class="dropdown-item" onclick="NMTTarget(@Model.NodeID, 'pre-op');">
                    <i class="fa fa-pause text-warning"></i> Pre-Operational
                </button>

                <div class="dropdown-divider"></div>

                <button type="button" class="dropdown-item" onclick="NMTTarget(@Model.NodeID, 'reset');">
                    <i class="fa fa-sync"></i> Сбросить
                </button>
                <button type="button" class="dropdown-item" onclick="NMTTarget(@Model.NodeID, 'reset-comm');">
                    <i class="fa fa-asterisk text-primary"></i> Reset communication
                </button>
            </div>
        </div>
        <div class="pt-1">
            <span data-toggle="tooltip" data-title="@Model.HeartbeatToolTip"><i class="fa fa-heartbeat text-@Model.HeartBitIconColor"></i></span>
        </div>
    </div>
    <div class="avatar">
        <div class="avatar-i bg-light border-@Model.MarkClass">
            <i class="fa fa-2x fa-@Model.AvatarIcon"></i>
        </div>
    </div>
</div>