﻿@model string


<div class="bd-callout bd-callout-info">
    <h4>Сконфигурировать сеть</h4>
    @{
        var scematic = "VID:PID:Revision:Serial=NodeID";
    }
    <p>Выполнить конфигурацию согласно схеме: <b>@scematic</b></p>
    <p class="text-muted">Где:</p>
    <ul>
        <li><b>VID</b> - Идентификатор производителя, число</li>
        <li><b>PID</b> - Идентификатор устройства, число</li>
        <li><b>Revision</b> - Номер ревизии устройства</li>
        <li><b>Serial</b> - Серийный номер устройства</li>
        <li><b>NodeID</b> - Присваиваемый идентификатор внутри сери CanOpen</li>
    </ul>
    <hr />
    <form>
        <div class="form-group">
            <textarea id="network-config" class="form-control" rows="3" placeholder="@scematic">@Model</textarea>
        </div>
        <input type="file" id="network-config-file" style="display: none" accept=".lsscfg" />
        <div class="d-flex justify-content-between form-group">
            <div>
                <div>
                    <button id="network-config-execute" role="button" type="button" 
                            class="btn btn-primary" onclick="applyNetworkConfig()">
                        <i class="fa fa-check"></i> Применить
                    </button>
                    <button role="button" type="button" class="btn btn-warning ml-2" id="net-auto-config"
                            title="Настроить всю сеть автоматически" onclick="autoConfigureNetwork()">
                        <i class="fa fa-network-wired"></i> Автонастройка
                    </button>
                </div>
            </div>
            <div class="btn-group">
                <button id="save-network-config" role="button" type="button" class="btn btn-default border-dark"
                        title="Сохнанить текущую конфигурацию сети" onclick="downloadNetworkConfig()">
                    <i class="far fa-save"></i>
                </button>
                <button id="load-network-config" role="button" type="button" class="btn btn-default border-dark"
                        title="Загрузить конфигурацию сети" onclick="uploadNetworkConfig()">
                    <i class="far fa-folder-open"></i>
                </button>
            </div>
        </div>
    </form>
</div>