﻿@using CANopen2CalibratorGUIAdapter.Models.Bootloader;

@model BootloaderSummary

<div id="summary" class="bd-callout bd-callout-info">
    <h4>Информация</h4>
    <br />
    <div class="container">
        <div class="row">
            <p class="col-md-3 text-right">Версия загрузчика:</p>
            <label class="col-md-7 text-left">@Model.BootladerVersion</label>
        </div>
        <div class="row">
            <p class="col-md-3 text-right">Идентификация текущего приложения:</p>
            <label class="col-md-7 text-left">@Model.AppCRC32</label>
        </div>
        <div class="row">
            <p class="col-md-3 text-right">Приложение готово к запуску:</p>
            @{
                var valid = Model.AppValid ? "Готово" : "Ошибка";
                var status_icon = Model.AppValid ? "fa-check text-success" : "fa-times text-danger";
            }
            <label class="col-md-7 text-left"><i class="fa @status_icon"></i> @valid</label>
        </div>
    </div>
</div>