﻿@model string

@{
    ViewData["Title"] = "Ошибка подключания";
}

<h2 class="text-muted text-center">Не удалось подключиться к сети CANOpen!</h2>
<h3 class="text-danger text-center">[@Model]</h3>
<hr/>
<a asp-action="Index"><h4 class="text-center"><i class="fas fa-angle-left"></i> Вернуться</h4></a>
