﻿@using CANopen2CalibratorGUIAdapter.Utils;

@model ConnectionViewModel

@{
    ViewData["Title"] = "Настройка подключения";

    var str_selected = "selected";
}

@section styles {
    <link rel="stylesheet" href="~/css/connection.css" asp-append-version="true"/>
}

<div class="text-center">
    <form class="form-signin" method="post" asp-action="Control">
        <img class="mb-4" src="~/images/CANopen.png" alt="CANOpen" width="200" height="72">
        <input type="hidden" name="NowConnected" value="@Model.Connected.ToString()" />
        @if (Model.Connected)
        {
            <h1 class="h3 mb-3 font-weight-normal">Подключен к</h1>
            <label for="inputCanConnection" class="sr-only">Шина CANOpen</label>
            <input type="text" name="CanConnection" id="inputCanConnection" class="form-control" disabled="disabled" value="@Model.CanBusses[(int)Model.ConnectionID]">
            @if (Model.SpeedSetupSupported)
            {
                <label for="inputSpeed" class="sr-only">Скорость</label>
                <input type="text" name="Speed" id="inputSpeed" class="form-control" disabled="disabled" value="@CanSpeedMap.SpeedMap[(int)Model.SpeedID] Кб/с">
            }
            <hr />
            <button class="btn btn-lg btn-danger btn-block" type="submit">Отключить</button>
        }
        else
        {
            var no_adapter_avalable = !Model.ConnectionID.HasValue && !Model.CanBusses.Any() ? str_selected : null;
            var adapter_text = no_adapter_avalable != null ? "Нет адаптеров" : "Адаптер";
            var connect_disabled = no_adapter_avalable != null ? "disabled" : null;
            <h1 class="h3 mb-3 font-weight-normal text-muted">Выберите сеть</h1>
            <label for="inputCanConnection" class="sr-only">Шина CANOpen</label>
            <select id="inputCanConnection" name="CanConnection" class="form-control">
                <option disabled="disabled" selected="@no_adapter_avalable">@adapter_text</option>
                @foreach (var bus in Model.CanBusses)
                {
                    var selected = bus.Key == Model.ConnectionID ? str_selected : null;
                    <option value="@bus.Key" selected="@selected">@bus.Value</option>
                }
            </select>
            @if (Model.SpeedSetupSupported) {
                var no_speed_selected = !Model.SpeedID.HasValue ? str_selected : null;

                <label for="inputSpeed" class="sr-only">Скорость</label>
                <select id="inputSpeed" name="Speed" class="form-control">
                    <option disabled="disabled" selected="@no_speed_selected">Скорость</option>
                    @foreach (var speed in CanSpeedMap.SpeedMap)
                    {
                        var selected = speed.Key == Model.SpeedID ? str_selected : null;
                        <option value="@speed.Key" selected="@selected">@speed.Value кб/с</option>
                    }
                </select>
            }
            <hr/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" disabled="@connect_disabled">Подключить</button>
        }
        <p class="mt-5 mb-3 text-muted">by <a href="https://github.com/ololoshka2871">tolyan</a></> © 2020-2023</p>
        <p class="mt-5 mb-3 text-muted">Thanks to <a href="https://github.com/ulrikhagstrom/datalinkengineeringcanopen">canopenlib32</a>,
            <a href="https://github.com/christiansandberg/canopen">python-canopen</a> and <a href="https://canable.io/">CANable</a>
        </p>
    </form>
</div>

@section Scripts {
    <script src="~/js/Connection.js" asp-append-version="true"></script>
}