﻿@using CANopen2CalibratorGUIAdapter.Models.LssModels;
@using CANopen2CalibratorGUIAdapter.Utils;

@model LssSetupNetworkSpeedModel

@{ 
    const string str_selected = "selected";

    var disabled = !Model.SpeedControlSupported ? "disabled" : null;
    var title = !Model.SpeedControlSupported ? "Изменение скорости шины не поддерживается драйвером" : null;
}

<div class="bd-callout bd-callout-warning">
    <h4>Изменить скорость сети CANOpen</h4>
    <p>
        Переключить все все устройства сети на выбранную скорость работы.
        Убедитесь, что все устройства поддерживают новую скорость работы.
    </p>

    <form class="form-inline">
        <div class="input-group">
            <select class="form-control" name="BusSpeed" disabled="@disabled">
                @if (Model.SpeedControlSupported)
                {
                    <option disabled value="">Скорость</option>
                    @foreach (var speed in CanSpeedMap.SpeedMap)
                    {
                        var selected = speed.Key == Model.SpeedID ? str_selected : null;
                        <option value="@speed.Key" selected="@selected">@speed.Value кб/с</option>
                    }
                }
                else
                {
                    <option disabled value="">Не поддерживается</option>
                }
            </select>
        </div>
        <button type="button" class="btn btn-primary ml-2" disabled="@disabled" 
                title="@title" onclick="changeBusSpeed()">
            <i class="fas fa-check-circle"></i> Изменить
        </button>
    </form>
</div>