﻿@using CANopen2CalibratorGUIAdapter.Models.SDO;

@model SDOIndexModel

@{ 
    var index_str = Model.IsSubindex ? Model.Index.ToString() : Model.Index.Index.ToString("X4");
    var type_str = Model.Type + ":";
}

<div class="d-flex justify-content-between">
    <div>
        <b>[@index_str]</b>
        <span>@Model.Name</span>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(Model.Type))
        {
            <i class="text-muted">@type_str</i> <b class="text-dark">@Html.Raw(Model.Value)</b>
        }
    </div>
</div>
