﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CANopen2CalibratorGUIAdapter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/CANopen.png" height="40" width="120" style="margin-top:0px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="nav-bar-connection">
                            <a class="nav-link" asp-area="" asp-controller="Connection" asp-action="Index">Подключение</a>
                        </li>
                        <li class="nav-item" id="nav-bar-overview">
                            <a class="nav-link" asp-area="" asp-controller="Overview" asp-action="Index">Обзор</a>
                        </li>
                        <li class="nav-item" id="nav-bar-lss">
                            <a class="nav-link" asp-area="" asp-controller="Lss" asp-action="Index">LSS</a>
                        </li>
                        <li class="nav-item" id="nav-bar-sync">
                            <a class="nav-link" asp-area="" asp-controller="SYNC" asp-action="Index">SYNC</a>
                        </li>
                        <li class="nav-item" id="nav-bar-emergency">
                            <a class="nav-link" asp-area="" asp-controller="Emergency" asp-action="Index">Emergency</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-noty/packaged/jquery.noty.packaged.min.js" asp-append-version="true"></script>
    <script src="~/ts-js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
