﻿@model byte

<div class="bd-callout bd-callout-warning">
    <h4>Настройки приложения</h4>
    <p>
        Резервное копирование и восстановление настроек приложения устройства.
        Загрузчик не располагает информацией о структуре настроек приложения.
        Это неструктурированные двоичные данные.
    </p>
    <hr />
    <button class="btn btn-success" id="backup-app-settings">
        <i class="fa fa-download"></i> Сделать резервную копию
    </button>
    <input type="file" id="settings-file" style="display: none" accept=".settings" node-id="@Model" />
    <button class="btn btn-warning" id="restore-app-settings">
        <i class="fa fa-reply"></i> Восстановить
    </button>
    <button class="btn btn-danger" id="clear-app-settings">
        <i class="fa fa-file"></i> Очистить
    </button>
</div>