﻿@model LssModel

@{
    ViewData["Title"] = "Служба LSS - Начальная конфигурация сети";
}

@section styles {
    <link rel="stylesheet" href="~/css/docs.min.css" />
}


@if (Model.Connected)
{
    <h3>@ViewData["Title"]</h3>
    <hr />

    <vc:lss-configure-network current-config="@Model.CurrentNetworkConfig" />
    <vc:lss-configure-node />
    <vc:lss-setup-network-speed current-speed-id="@Model.CurrentSpeedGrade"
                                speed-control-supported="@Model.SpeedSetupSupported" />
    <vc:lss-reset-configuration-state />
}
else
{
    <h2 class="text-muted text-center">Адаптер не подключен к сети CANOpen</h2>
    <a asp-controller="Connection" asp-action="Index">
        <h5 class="text-center"><i class="fas fa-plug"></i> Подключиться</h5>
    </a>
}

@section Scripts {
    <script src="~/js/docs.min.js"></script>
    <script src="~/lib/FileSaver.js/FileSaver.min.js"></script>

    <script src="/webAPI.js"></script>

    <script src="~/ts-js/API.js" asp-append-version="true"></script>
    <script src="~/ts-js/lss.js" asp-append-version="true"></script>
}