﻿@model EmergencyModel

@{
    ViewData["Title"] = "Журнал аварийных сообщений";
}

@if (Model.Connected)
{
    <div class="d-flex justify-content-between">
        <div>
            <h3>@ViewData["Title"]</h3>
        </div>
        <div>
            <button id="clear_log_btn" type="button" class="btn btn-danger" title="Очистить">
                <i class="fa fa-eraser"></i>
            </button>
        </div>
    </div>
    <hr />
    <table id="emcy-log"></table>
}
else
{
    <h2 class="text-muted text-center">Адаптер не подключен к сети CANOpen</h2>
    <a asp-controller="Connection" asp-action="Index">
        <h5 class="text-center"><i class="fas fa-plug"></i> Подключиться</h5>
    </a>
}

@section Scripts {
    <script src="~/lib/gijgo/combined/js/gijgo.min.js"></script>

    <script src="/webAPI.js"></script>

    <script src="~/ts-js/API.js" asp-append-version="true"></script>
    <script src="~/ts-js/Emergency.js" asp-append-version="true"></script>
}