﻿@model byte

@{
    ViewData["Title"] = "Загрузчик";
}

@section styles {
    <link rel="stylesheet" href="~/css/docs.min.css" />
}

<h3>Операции с загрузчиком устройства NodeID @Model</h3>
<hr />

<vc:bootloader-summary node-id="@Model" />
<vc:settings-backup node-id="@Model" />
<vc:firmware-update node-id="@Model" />
<vc:duplication-control node-id="@Model" />


@section Scripts {
    <script src="~/js/docs.min.js"></script>
    <script src="~/lib/FileSaver.js/FileSaver.min.js"></script>

    <script src="/webAPI.js"></script>

    <script src="~/ts-js/API.js" asp-append-version="true"></script>
    <script src="~/ts-js/bootloader.js" asp-append-version="true"></script>
}