﻿@model byte

@{
    ViewData["Title"] = "Настройка TPDO";
}

@section styles {
    <link rel="stylesheet" href="~/lib/gijgo/combined/css/gijgo.min.css" />
}

<div class="container">
    <div class="row">
        <h3 id="node-id-ancor" node-id="@Model" class="text-left col">Настройка TPDO NodeID @Model</h3>
        <div class="btn-toolbar col-auto" role="toolbar" aria-label="save/load">
            <div class="btn-group mr-2" role="group" aria-label="Load/Save">
                <button id="save_tpdo_btn" type="button" title="Сохранить в файл" class="btn btn-outline-dark text-primary">
                    <i class="fa fa-save"></i>
                </button>
                <button id="load_tpdo_btn" type="button" title="Загрузить из файла" class="btn btn-outline-dark text-danger">
                    <i class="fa fa-file-upload"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<hr />

<table id="pdo-mappings" class="mb-2"></table>
<table id="pdo-mappable-indexes"></table>
<div id="mapping-control-buttons" class="container text-right mt-2">
    <button id="apply_mapping_btn" type="button" class="btn btn-sm btn-primary">
        <i class="fa fa-check"></i> Применить
    </button>
    <button id="reset_mapping_btn"  type="button" class="btn btn-sm btn-danger">
        <i class="fa fa-undo"></i> Отменить
    </button>
</div>
<hr />
<div id="uv-div"></div>
<input type="file" id="tpdo-config-input" style="display: none" accept=".TPDOmap" />
<input type="file" id="tpdo-global-config-input" style="display: none" accept=".TPDOcfg" />

@section Scripts {
    <script src="~/lib/gijgo/combined/js/gijgo.min.js" asp-append-version="true"></script>
    <script src="~/lib/FileSaver.js/FileSaver.min.js" asp-append-version="true"></script>
    <script src="~/lib/d3/d3.min.js" asp-append-version="true"></script>
    <script src="~/lib/uvCharts/uvcharts.min.js" asp-append-version="true"></script>

    <script src="/webAPI.js"></script>

    <script src="~/ts-js/API.js" asp-append-version="true"></script>
    <script src="~/ts-js/TPDO.js" asp-append-version="true"></script>
}