﻿<div class="bd-callout bd-callout-danger">
    <h4>Сброс режима конфигурации для всех устройств</h4>
    <p>
        Переключить все подключенные устройства в режим ожидания (Waiting).
        Это прервет сеанс конфигурации устройств. Используёте эту команду, если конфиграция прошла неудачно.
    </p>
    <button class="btn btn-primary" id="lss-global-waiting" onclick="resetLssWaiting()">
        <i class="fa fa-redo"></i> Сбросить режим конфигурации LSS
    </button>
</div>