﻿@using CANopen2CalibratorGUIAdapter.Models.DeviceCardModels;

@model DeviceCardSDOSummaryFooterModel

<p class="card-text text-dark text-center">
    Всего индексов в
    <a asp-area="" asp-controller="SDO" asp-action="All" asp-route-id="@Model.NodeID">словаре объектов</a>:
    <b>@Model.IndexCount</b>
</p>

<p class="card-text text-secondary text-center">
    <a asp-area="" asp-controller="TPDO" asp-action="Index" asp-route-id="@Model.NodeID">
        <i class="fa fa-wrench"></i> Настроить TPDO
    </a>
</p>

<p class="card-text text-secondary text-center">
    <i>
        <a href="javascript:NMTTarget(@Model.NodeID, 'start');">Включите</a>
        устройство чтобы получить выходные данные.
    </i>
</p>