﻿
.card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-header > .avatar {
    position: relative;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}

    .card-header > .avatar > .avatar-i {
        padding: 3px;
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: -39px;
        border: 1px solid;
        text-align: center;
        width: 42px;
    }

.card-body > .hover-visible {
    visibility: hidden;
}

.card:hover > .card-body > .hover-visible {
    visibility: visible;
    position: relative;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}

.card-body > .hover-visible > .hover-visible-i {
    padding: 3px;
    display: block;
    border-radius: 50%;
    position: absolute;
    right: 0;
    border: hidden;
}
