﻿@model byte

<div class="bd-callout bd-callout-danger">
    <h4>Обновление приложения</h4>
    <p>
        Загрузить новый образ приложения в устройство. Выберите файл для загрузки, затем нажмите кнопку "Обновить".
        Операция снимает некоторое время в зависимости от размера загружаемого файла. Увеличьте скорость работы сети CANOpen
        для ускорения процесса на странице настройки <a asp-area="" asp-controller="Lss" asp-action="Index">LSS</a>
        В случае прерывания процесса загрузки штатная работа устройства будет невозможна также настроечные данные будут потеряны,
        однако загрузчик останется доступен. Некомендуется вручную сохранить настройки приложения перед началом процесса.
    </p>
    <hr />
    <form class="form-horizontal" id="update-firmware">
        <div class="form-group vertical-align-center">
            <label for="app-image-file" class="col-sm-3 control-label">Файл образа приложения</label>
            <input id="app-image-file" name="app-image-file" type="file" accept=".bin, .deploy" />
        </div>
        <div class="form-group vertical-align-center">
            <label for="app-image-encrypted" class="col-sm-3 control-label">Образ зашифрован</label>
            <input id="app-image-encrypted" name="app-image-encrypted" type="checkbox" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger col-sm-offset-3">
                <i class="fa fa-upload"></i> Обновить
            </button>
        </div>
    </form>
</div>
