﻿@model byte

@{
    ViewData["Title"] = "Словарь объектов";
}

@section styles {
    <link rel="stylesheet" href="~/lib/gijgo/combined/css/gijgo.min.css" asp-append-version="true" />
}

<div class="container-fluid">
    <h3>Словарь объектов устройства NodeID @Model</h3>
    <hr />
    <div id="tree" node-id="@Model"></div>
</div>

@section Scripts {
    <script src="~/lib/gijgo/combined/js/gijgo.min.js" asp-append-version="true"></script>
    <script src="~/lib/FileSaver.js/FileSaver.min.js" asp-append-version="true"></script>

    <script src="/webAPI.js"></script>

    <script src="~/ts-js/API.js" asp-append-version="true"></script>
    <script src="~/ts-js/SDO.js" asp-append-version="true"></script>
}