﻿@using CANopen2CalibratorGUIAdapter.Models.DeviceCardModels;

@model DeviceCardBootloaderFooterModel

@{ 
    var v = $"V{Model.Version}";
}

<p class="card-text text-secondary text-center mb-1">Загрузчик <b>@v</b></p>
<p class="card-text text-muted text-center"><i>Идентификтор приложения:</i> <b>@Model.AppID</b></p>
<div class="text-center">
    <button type="button" class="btn btn-sm btn-primary mr-2" onclick="startApp(@Model.NodeID)"><i class="fa fa-play" ></i> Запустить</button>
    <a class="btn btn-sm btn-danger" asp-area="" asp-controller="Bootloader" 
       asp-action="Index" asp-route-id="@Model.NodeID">
        <i class="fa fa-tools"></i> Управление
    </a>
</div>