﻿
<h3 class="text-muted text-center">Не обнаружено сконфигурированных устройств</h3>
<h4 class="text-muted text-center">
    Возможно следует начать с настройки <a asp-area="" asp-controller="Lss" asp-action="Index">LSS</a>?
</h4>
