﻿@model DeviceListItem

<div class="card border-@Model.MarkClass" node-id="@Model.NodeID">
    <vc:device-card-header mark-class="@Model.MarkClass" node-id="@Model.NodeID"
                           nmt-state="@Model.NMTState" heartbeat="@Model.TimeFromLastHeartbeat"
                           avatar-ready="@Model.DeviceKnown" />

    <vc:device-card-body mark-class="@Model.MarkClass" vendor="@Model.VendorString" product="@Model.ProductString"
                         revision="@Model.LSSId.RevisionNumber" serial="@Model.LSSId.SerialNumber"
                         eds-reload="@Model.DeviceKnown" node-id="@Model.NodeID" />

    <div class="card-footer bg-transparent border-@Model.MarkClass">
        @if (Model.BootloaderController != null)
        {
            <vc:device-card-bootloader-footer node-id="@Model.NodeID" bootloader-controller="@Model.BootloaderController" />
        }
        else
        {
            @if (Model.NMTState == Utils.NMT.NMTState.Operatuional)
            {
                <vc:device-card-tpdo-summary-footer />
            }
            else if (Model.NMTState == Utils.NMT.NMTState.PreOperational)
            {
                <vc:device-card-sdo-summary-footer node-id="@Model.NodeID" eds-info="@Model.EdsInfo" />
            }
            else
            {
                <p class="card-text text-secondary text-center">
                    <i>Для работы TPO необходимо <a href="javascript:NMTTarget(@Model.NodeID, 'start');">включить</a> устройство</i>
                </p>
            }
        }
    </div>
</div>